/*---------------------------
        Default CSS
---------------------------*/ 

html,
body {
	height: 100%;
	font-family: 'Helvetica', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	margin-bottom: 10px;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
	margin-bottom: 5px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 35px;
	padding-bottom: 35px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
  Commom elements
-----------------------*/

/* buttons */
.site-btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	color: #f4aa44;
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 5px;
	font-weight: 500;
	border: 2px solid;
	border-color: #f4aa44;
	cursor: pointer;
	margin-bottom: -20px;
	background-color: transparent;
}

.site-btn:hover {
	background-color: #f4aa44;
	color: #fff;
}

.btn-blue {
	background: #086fb1;
	color:#fff;
}

.btn-blue:hover {
	color: #086fb1;
	background: #fff;
}

.text-center {
	text-align: center;
}

.iconright {
	margin-left: 15px;
	font-size: 20px;
}

@media only screen and (max-width: 765px) {
    .hidden-xs {
        display: none;
    }
}

/*--------------
	Preloder 
--------------*/
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
  Header section
---------------------*/

.header-section {
	background: #086fb1;
	clear: both;
	overflow: hidden;
	padding: 18px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	display: absolute;
	position: fixed;
	z-index: 1000;
	width: 100%;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
}

.site-logo {
	display: inline-block;
	float: left;
	margin-top: -10px;
}

.user-panel {
	margin-top: 15px;
	float: right;
}

.user-panel a {
	font-size: 30px;
	color: #a6bed8;
}

.user-panel a:hover{
	font-size: 30px;
	color: #fff;
}

.main-menu {
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #a6bed8;
	margin-left: 15px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #fff;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

/*------------------
  Carousel Section
---------------------*/

.car-slider .car-item {
	height: 750px;
    margin-top: -50px;
	display: table;
	width: 100%;
}

.car-slider .car-text {
	display: table-cell;
	vertical-align: bottom;
    padding-bottom: 150px;
}

.car-slider .car-text h2 {
	color: #fff;
	font-weight: 400;
	font-size: 60px;
	margin-bottom: 30px;
	position: relative;
	top: -80px;
	opacity: 0;
}

.car-slider .car-text h2 span {
	color: #ffb320;
}

.car-slider .car-text p {
	color: #fff;
	margin-bottom: 30px;
	position: relative;
	position: relative;
	top: -90px;
	opacity: 0;
}

.car-slider .car-text .site-btn {
	position: relative;
	top: -100px;
	opacity: 0;
}

.car-slider .owl-item.active .car-item h2,
.car-slider .owl-item.active .car-item p,
.car-slider .owl-item.active .car-item .site-btn {
	top: 0;
	opacity: 1;
}


/*------------------
  Overview Section
---------------------*/

.overview-item {
	position: relative;
}

.overview-item h3{
	color: #086FB1;
	font-weight: 700;
}

.overview-slider .item {
	height: 165px;
	margin-top: 50px;
	display: table;
	width: 100%;
}

.overview-slider .text {
	display: table-cell;
	vertical-align: bottom;
    padding-bottom: 150px;
}

.overview-slider .owl-dots {
	display: inline-flex;
}

.overview-slider .owl-dot {
	background-color: #D4D4D4;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;
}

.overview-slider .owl-dots .active{
	background-color: #f4aa44;
}

.overview-slider .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 48%;
    margin-left: -20px;
    display: block !important;
}

.overview-slider .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 48%;
    right: -20px;
    display: block !important;
}

.overview-slider .owl-prev i, .overview-slider .owl-next i {
	transform : scale(1,3); 
	color: #ccc;
}

@media only screen and (max-width: 415px) {
    .owl-nav {
        display: none;
	}
	.overview-slider .item  {
		height: 140px;
	}
}

/*----------------------
  product + Section
------------------------*/

.product-section {
	background-image: url("../img/plywood-bg.jpg");
	background-repeat: repeat;
}

.product-boxes {
	background: rgba(0, 0, 0, 0.35);
	margin-bottom: 15px;
	color: #fff;
	font-size: .8em;
	padding: 10px;
}

.product-item .rgi-content h5 {
	margin-bottom: 20px;
	line-height: 1.5;
}

.square-plus {
	height: 50px;
	width: 50px;
	position: absolute;
	display: block;
	border-radius: 50%;
	background-color: #f4aa44;
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding: 3px;
	cursor: default;
}

.box-hl {
	background-color: rgb(8, 111, 177, 0.8);
	transition: 1.2s;
}

/*------------------------------
  divider Section
-------------------------------*/

.divider {
	background: #086FB1;
	background-repeat: repeat;
	text-align: center;
	color: #fff;
	font-size: 34px;
	padding: 20px 0px;
}

/*------------------------------
  accordian Section
-------------------------------*/

.card-header {
	color: #848494;
	background-color:rgba(0, 0, 0, 0.0);
	padding: 1.5rem 1.25rem 0.5rem;
	border-top: 1px solid rgba(0,0,0,.125);
	border-bottom: none;
} 

.card {
	border: 0px solid;
	text-align: left;
}

.no-tl {
	border-top: none;
}

.card .btn {
	white-space: normal;
	text-align: left;
}

.accord-pad {
	padding: 15px 0px 25px;
}


/*----------------------
  box Section
------------------------*/

.box-section {
	background: #086FB1;
	background-repeat: no-repeat;
	background-size: 100%;
}

/*----------------------
  box label Section
------------------------*/

.box-divider {
	background: #fff;
	background-repeat: repeat;
	text-align: center;
	color: #000;
	padding: 5px 0px 15px 0px;
}

/*----------------------
  Footer top Section
------------------------*/

.footer-top-section {
	background-image: url("../img/footer-top-bg.JPG");
	background-repeat: repeat;
	background-size: 100%;
}

.footer-top-section h4 {
	color: #FFF;
	margin-top: 25px;
	margin-bottom: 25px;
}

.footer-top-bg {
	background-color: rgba(0, 0, 0, 0.28);
	border-radius: 5px;
	padding: 25px;
}

.footer-logo img {
	margin-bottom: 35px;
}

.footer-widget {
	padding: 40px 30px 7px;
	background: #252525;
	border: 1px solid #4a4a4a;
}

.footer-widget .fw-title {
	color: #fff;
	margin-bottom: 40px;
}

/*----------------------
  Footer bottom Section
------------------------*/

.footer-section {
	padding: 18px 0 16px;
	overflow: hidden;
	background: #34303A;
}

.footer-top {
	color: #fff;
}

.footer-bottom-ul {
	border-bottom: 1px solid #fff;
	padding: 25px 0px 15px;
}

.footer-menu li {
	display: table;
}

.footer-menu li a {
	display: inline-block;
	font-weight: 500;
	color: #1892CC;
	margin-top: 15px;
}

.footer-section-tl {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 50px;
	color: rgba(255, 255, 255, 0.5)
}

.footer-section-tl a {
	padding: 0px 10px;
	color: #1892CC;
}

.domt {
	font-size: 10px;
}

.footer-sm i {
	padding: 10px 10px;
	color: rgba(255, 255, 255, 0.5);
}

/*-----------
	Modal
------------*/

.modal {
	top: 130px;
}

.modal-open {
	overflow: none;
	padding-right:0 !important; /* required to overwrite boostrap adding spacing when modal open and shifint main content */
}

.max-w-xs {
	max-width: 100%;
}

/*------------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu {
		margin-right: 90px;
	}
	#rsquare {
		padding-top: 50px;
	}
}

/* mobile up to 1199px. */

@media only screen and (max-width: 1199px) {
	.header-section {
		overflow: visible;
		padding: 23px 0;
	}
	.header-section .container {
		position: relative;
	}
	.site-logo {
		float: none;
		padding-top: 0;
	}
	.main-menu {
		display: none;
		position: absolute;
		top: calc(74% + 24px);
		left: 0;
		width: 100%;
		background: #ffffff;
		z-index: 999;
	}
	.main-menu ul li {
		display: block;
		border-bottom: 1px solid #ececec;
	}
	.main-menu ul li a {
		margin-left: 0;
		color: #131313;
		padding: 13px 26px;
	}
	.nav-switch {
		color: #fff;
		display: block;
		float: right;
		cursor: pointer;
		font-size: 25px;
	}
	.user-panel {
		display: none;
	}
	.car-slider .car-item {
		height: 700px;
	}
	.car-slider .car-text h2 {
		font-size: 36px;
	}
	.ln-title {
		padding-right: 30px;
	}
	.footer-logo {
		margin-bottom: 50px;
	}
	.footer-section {
		padding: 30px 0 20px;
		text-align: center;
	}
	.footer-menu li:first-child a {
		margin-left: 0;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.car-slider .car-item {
		padding: 150px 0;
	}
	.ln-title {
		display: none;
	}
	.site-btn {
		padding: 11px 30px;
		min-width: 145px;
	}
	.footer-widget {
		padding: 40px 15px 7px;
	}
}